@{
    // Layout = "~/Views/Shared/_MenuLayout.cshtml";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body>

</body>
</html>
